*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html {
    font-family: Arial, Helvetica, sans-serif;
}

#main {

}
#nav {
    display: inline-block;
}
#content{
    height: 1000px;
    background-color: #ccc;

}
#header {
    text-transform: uppercase;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;

    height: 46px;
    background-color: black;

}
.nav .ti-heart {
    font-size: 50px;
    background-color: blue;

}
#header .search-btn {
    
    float: right;

}
#header .search-btn:hover  {
    background-color: red;
    cursor: pointer;

}

#header .search-icon {
    color: yellowgreen;
    font-size: 20px;
    line-height: 46px;
    padding: 0 16px;

}

#nav {

}
#nav li{
    display: inline-block;
}
#nav li a {
    color: white;
    text-decoration: none;
    line-height: 46px;
    padding: 0 24px;
    display: inline-block;
}
#nav li:hover a {
    color: #000;
    background-color: #fff;
} 
#nav .subnav {
    display: none;


}
#slide {

}

#content {

}

#footer {

}